<!-- <div class="centrale">
    <h1 class="titolo">Seleziona utenti da disabilitare</h1>
    <div id="inserisci">
        <b>seleziona tipologiautenti da visualizzare </b> 
        <br>
            <select [(ngModel)]="gruppo.descrizione" (ngModelChange)="" name="gruppo" class="form-control form-control-lg">
                <option *ngFor="let tipologia of tipologie" [ngValue]="tipologia">
                    {{tipologia.descrizione}}
                </option>
            </select>
        <br>       
    <br> 

    <table id="persona" border="3" >
        <thead>
            <tr>
                <th *ngIf='Id'>ID</th>
                <th>USERNAME</th>
                <th>STATO</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of persone">
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
        
      </div>
    </div>
     -->