
<div class="centrale">
    <h2 class="titolo"><b>VISUALIZZA UTENTI</b></h2>
    <div id="inserisci">
        <b>seleziona tipologia utenti</b> 
        <br>
            <select [(ngModel)]="gruppo.id" (ngModelChange)="gruppoChanged($event)" name="gruppo" class="form-control form-control-lg">
                <option *ngFor="let tipologia of tipologie" [ngValue]="tipologia">
                    {{tipologia.descrizione}}
                </option>
            </select>
            <br>
            <div *ngIf="ricerca">
            <label for="cerca"><b>Inserisci username da ricercare</b></label>
            <input class="form-control form-control-lg"  [(ngModel)]="cercaUtente">
           <br>
            <input type="submit" (click)=cerca()  class="fadeIn fourth" value="CERCA UTENTE">
            <br><br> <br>
            </div>
       
     </div>
     <br>
     <br>



  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> USERNAME </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

      <ng-container matColumnDef="accesso">
        <th mat-header-cell *matHeaderCellDef> PRIMO ACCESSO </th>
        <td mat-cell *matCellDef="let element" >
          <p *ngIf="element.primo_accesso==0" > Primo accesso effettuato </p>
          <p *ngIf="element.primo_accesso==1"> Primo accesso NON effettuato </p>
        </td>  
      </ng-container>

      <ng-container matColumnDef="stato">
        <th mat-header-cell *matHeaderCellDef> STATO </th>
        <td mat-cell *matCellDef="let element"> 
          <p *ngIf="element.stato==0" style="color: red;"> DISABILITATO </p>
          <p *ngIf="element.stato==1" style="color: green;"> attivo </p>
        </td>
      </ng-container>
      
     
      <ng-container matColumnDef="tasto" *ngIf="!amministratore">
        <th mat-header-cell *matHeaderCellDef > ABILITA / DISABILITA </th>
        <td mat-cell *matCellDef="let element" >
        <button mat-button color="primary" *ngIf="element.stato==0"  (click)="abilita(element)">ABILITA</button>
        <button mat-button color="accent" *ngIf="element.stato==1"  (click)="disabilita(element)">DISABILITA</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
   
  
    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </div>

     

    </div>
    