<div class="centrale">

  <b>Seleziona l'anno da visualizzare</b> 
        <br>
            <select [(ngModel)]="anno" (ngModelChange)="CambioAnno($event)"  name="anno" class="form-control form-control-lg">
                <option *ngFor="let anno of anni" [ngValue]="anno">
                    {{anno.numero}}
                </option>
            </select>
        <br>       
    <br> <br>
    <div *ngIf="messaggioerrore"><h2><b>{{messaggio}}</b></h2></div>

    <br><br>

      <div style="display: block;" *ngIf="grafico">
          <canvas baseChart width="200" height="90"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
          </canvas>
        </div>

        <div style="display: block;" *ngIf="grafico">
          <canvas baseChart width="200" height="90"
            [datasets]="lineChartData2"
            [labels]="lineChartLabels2"
            [options]="lineChartOptions2"
            [colors]="lineChartColors2"
            [legend]="lineChartLegend2"
            [chartType]="lineChartType2"
            [plugins]="lineChartPlugins2">
          </canvas>
        </div>

</div>
  