<div class="centrale">
  <div class="titolo">
  <h1>{{titolo}} {{commessa.nome}}</h1>
  </div>
</div>

<div class="centrale">
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class>
      <!-- id_commessa Column -->
      <ng-container matColumnDef="cod">
        <th mat-header-cell *matHeaderCellDef> Cod. </th>
        <td mat-cell *matCellDef="let element"> {{element.id_usorisorse}} </td>
      </ng-container>
      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.commessa?.nome}} </td>
      </ng-container>
      <!-- Cliente Column -->
      <ng-container matColumnDef="mese">
        <th mat-header-cell *matHeaderCellDef> Mese </th>
        <td mat-cell *matCellDef="let element"> {{element.mese?.nome}} </td>
      </ng-container>
      <!-- Valore Column -->
      <ng-container matColumnDef="anno">
        <th mat-header-cell *matHeaderCellDef> Anno </th>
        <td mat-cell *matCellDef="let element"> {{element.anno?.numero}} </td>
      </ng-container>
       <!-- Inizio Column -->
       <ng-container matColumnDef="figura">
        <th mat-header-cell *matHeaderCellDef> Figura Professionale </th>
        <td mat-cell *matCellDef="let element"> {{element.risorse.nome}} </td>
      </ng-container>
       <!-- Fine Column -->
       <ng-container matColumnDef="ore">
        <th mat-header-cell *matHeaderCellDef> Ore </th>
        <td mat-cell *matCellDef="let element"> {{element.ore}} </td>
      </ng-container>
      <!-- Get Details -->
      <ng-container matColumnDef="costi">
        <th mat-header-cell *matHeaderCellDef> Costi </th>
        <td mat-cell *matCellDef="let element"> {{element.costi}} </td>
      </ng-container>
      <ng-container matColumnDef="ricavi">
        <th mat-header-cell *matHeaderCellDef> Ricavi </th>
        <td mat-cell *matCellDef="let element"> {{element.ricavi}} </td>
      </ng-container>
       <!-- Get Details -->
       <section>
        <ng-container matColumnDef="getdetails">
          <th mat-header-cell *matHeaderCellDef="" > <button mat-icon-button style="color: #2B5978 ;" (click)="inserimentorisorse()"> <mat-icon style=" font-size: 45px">add</mat-icon> </button> </th>
          <td mat-cell *matCellDef="let element">  
          <button mat-icon-button style="color: #2B5978; padding-left: 20px;"  [disabled]="element.consolida != null" (click)="modificaRisorse(element)"><mat-icon *ngIf="element.consolida != null"></mat-icon> <mat-icon *ngIf="element.consolida == null">mode</mat-icon></button></td>
        </ng-container>
      </section>
      <section>
        <ng-container matColumnDef="consolida">
          <th mat-header-cell *matHeaderCellDef="" > Consolida </th>
          <td mat-cell *matCellDef="let element">  
          <button mat-icon-button style="color: #2B5978; padding-left: 20px;" [disabled]="element.consolida != null" (click)="consolida(element)"><mat-icon *ngIf="element.consolida != null"></mat-icon> <mat-icon *ngIf="element.consolida == null">edit_off</mat-icon> </button></td>
        </ng-container>
      </section>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
      

<div *ngIf="divinsert">
<div class="centrale">
    <div id="inserisci" name="inserisci" class="inserisci">
        <!-- <b>seleziona l'attivita</b> 
            <br>
                <select [(ngModel)]="attivita" (ngModelChange)="attivitaChanged($event)" name="attivita" class="form-control form-control-lg">
                    <option *ngFor="let attivita1 of attivitas" [ngValue]="attivita1">
                        {{attivita1.id}}-{{attivita1.task.nome}}
                    </option>
                </select> 
            <br> -->
        <b>seleziona il mese</b> 
            <br>
                <select [(ngModel)]="mese" (ngModelChange)="meseChanged($event)" name="attivita" class="form-control form-control-lg">
                    <option *ngFor="let mese1 of mesi" [ngValue]="mese1">
                        {{mese1.id_mese}}-{{mese1.nome}}
                    </option>
                </select> 
            <br>
         <b>seleziona l'anno</b> 
        <br>
            <select [(ngModel)]="anno" (ngModelChange)="annoChanged($event)" name="anno" class="form-control form-control-lg">
                <option *ngFor="let anno1 of anni" [ngValue]="anno1">
                    {{anno1.numero}}
                </option>
            </select>   
        <br>                   
        <b>seleziona la figura professionale</b> 
            <br>
                <select [(ngModel)]="risorsa" (ngModelChange)="risorsaChanged($event)" name="attivita" class="form-control form-control-lg">
                    <option *ngFor="let risorsa1 of risorse" [ngValue]="risorsa1">
                        {{risorsa1.id_risorse}}-{{risorsa1.nome}}
                    </option>
                </select>    
            <br>

        <label for="ore" name="lore"><b>Inserisci i giorni di impiego</b></label>
        <input class="form-control form-control-lg" type="number"  [(ngModel)]="usoRisorse.ore" name="ore">
        
        <button type="submit" (click)=inseriscirisorse()>invia</button>
    </div>
  </div>
</div>

<div *ngIf="modify">
  <div class="centrale" >
  <label class="col-10" for="ore" name="ore">inserisci ore di impiego per {{usorisorsemod.risorse?.nome}} del {{usorisorsemod.mese?.nome}} {{usorisorsemod.anno?.numero}}</label>
    <div class="col-10">
      <input class="form-control" type="text"   name="ore" [(ngModel)]="usorisorsemod.ore" required>
      <button mat-raised-button color="primary" type="submit" (click)=modifica()>Esegui Modifica</button> 
    </div>
  </div>
</div>



<div class="centrale">
    <h1>{{messaggio}}</h1>
</div>

<!-- <div class="centrale" >
    <button class="btn btn-secondary" type="submit" >Passa ad assegnamento risorse preventivate</button>(click)=assegnarisorsepreventivate()
</div> -->

