<!-- form inserimento avanzamento-->
<div class="centrale">
    <h1 class="titolo">Modifica Password</h1>
        
    <br>
    <div *ngIf = "modificaSecondoAccesso">
        <br> 
        <label for="Username"><b>Inserisci vecchia Password</b></label>
  <input class="form-control form-control-lg"  [(ngModel)]="vecchiaPassword">
    <br>
    </div>

    <br> 
        <label for="Username"><b>Inserisci nuova Password</b></label>
        <input class="form-control form-control-lg"  [(ngModel)]="nuovaPass">
    <br>
    <br> 
        <label for="Username"><b>Conferma nuova Password</b></label>
        <input class="form-control form-control-lg"  [(ngModel)]="confermaNuovaPass">
    <br>
    <div *ngIf="!modificaSecondoAccesso">
        <input  type="submit" (click)="modificaPasswordPrimoAccesso()"  class="fadeIn fourth" value="MODIFICA PASSWORD">
    </div>
    <div *ngIf="modificaSecondoAccesso">
        <input  type="submit" (click)="modificaPassword()"  class="fadeIn fourth" value="MODIFICA PASSWORD"> 
     </div>
    </div>
   
    
