<div class="centrale">
    <div id="inserisci" name="inserisci" class="inserisci">
        <b>Inserisci il nome dell'attivita</b> 
        <br>
        <input type="text" class="form-control-lg" name="descrizione" id="descrizione" [(ngModel)]="attivita.descrizione">
        <br>

        <b>Inserisci valore della task</b>
        <input type="number" class="form-control-lg" name="valore" id="valore"  [(ngModel)]="attivita.valore">
        

        <button class="btn btn-secondary" type="submit" (click)=inserisciattivita()>Inserisci Attivita</button>

    </div>
</div>
<br>
<div class="centrale">
    <table class="table">
        <thead>
            <th>Nome Attivita</th>
            <th>Valore Attivita</th>
        </thead>
        <tbody>
            <tr *ngFor="let attivita1 of attivitas">
            <td>{{attivita1.descrizione}}</td>
            <td>{{attivita1.valore}}</td>
        </tr>
        </tbody>
    </table>

    <div class="centrale">  {{messaggio}} </div>

</div>
<div class="centrale">
    <button type="submit" class="btn btn-secondary" (click)=assegnarisorsepreventivate()>Passa a preventivo di assegnamento risorse</button>
</div>
