<div class="centrale">
    <div id="inserisci" name="inserisci" class="inserisci">
        <b>Inserisci la task da selezionare</b> 
        <br>
        <select [(ngModel)]="task" (ngModelChange)="taskChanged($event)" name="data" class="form-control form-control-lg">
            <option *ngFor="let task1 of tasks" [ngValue]="task1">
                {{task1.id_task}}-{{task1.nome}}
            </option>
       </select> 
        <br>

        <b>Inserisci valore della task</b>
        <input type="number" class="form-control-lg" name="valore" id="valore"  [(ngModel)]="attivita.valore">
        <br>
        <button class="btn btn-secondary" type="submit" (click)=inserisciattivita()>Inserisci Attivita</button>
        
        
    </div>
</div>

<div class="centrale">
    <table class="table">
        <thead>
            <th>Nome Attivita</th>
            <th>Valore Attivita</th>
        </thead>
        <tbody>
            <tr *ngFor="let attivita1 of attivitas">
            <td>{{attivita1.task?.nome}}</td>
            <td>{{attivita1.valore}}</td>
        </tr>
        </tbody>
    </table>

</div>
<div class="centrale">
    <button type="submit" class="btn btn-secondary" (click)=assegnarisorseerogate()>Passa ad assegnamento risorse erogate</button>
</div>
