<!-- form inserimento avanzamento-->
<div class="centrale">
<div id="inserisci" name="inserisci" class="inserisci">
    <b>seleziona l'attivita</b> 
    <br>
        <select [(ngModel)]="attivita" (ngModelChange)="attivitaChanged($event)" name="attivita" class="form-control form-control-lg">
            <option *ngFor="let attivita1 of attivitas" [ngValue]="attivita1">
                {{attivita1.task?.nome}}
            </option>
        </select> 
    <br>
<b>seleziona il mese</b> 
    <br>
        <select [(ngModel)]="mese" (ngModelChange)="meseChanged($event)" name="mese" class="form-control form-control-lg">
            <option *ngFor="let mese1 of mesi" [ngValue]="mese1">
                {{mese1.nome}}
            </option>
        </select> 
 <b>seleziona l'anno</b> 
    <br>
        <select [(ngModel)]="anno" (ngModelChange)="annoChanged($event)" name="anno" class="form-control form-control-lg">
            <option *ngFor="let anno1 of anni" [ngValue]="anno1">
                {{anno1.numero}}
            </option>
        </select>    
<br>

    <label for="percentuale" name="lpercentuale"><b>Inserisci Percentuale di completamento</b></label>
    <input class="form-control form-control-lg" type="number"  [(ngModel)]="percentuale" name="percentuale">

    <div *ngIf="insert">
    <button type="submit" (click)=inserisce()>invia</button> 
</div>

<div *ngIf="modify">
    <button type="submit" (click)=modifica()>modifica</button> 
</div>

    <div><h1>{{messaggio}}</h1></div>
  </div>
</div>
