.sidebar {
    margin: 0;
    padding: 0;
    width: 12%;
    background-color:  #F8F9FA;;
    position: absolute;
    height: 100%;
    overflow: auto;
    top: 85px;
  }
  .sidebar a {
    display: block;
    color: rgb(26, 26, 26);
    padding: 25px;
    text-decoration: none;
    font-size: large;
    text-decoration-style: double;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

  .sidebar a:hover{
    background-color: #2B5978;
    color: white;
    
    
  }


 
  
  
  

  

  
