<!-- The sidebar -->
<div class="sidebar">
    <a href="\selezionacommessa"><b> Seleziona Commessa </b></a>
    <a href="\creacommessa"><b> Crea Commessa </b></a>
    <a href="#news"><b> Riepilogo</b></a>
    <a href="\task"><b>Task</b></a>
    <a href="\ricavi"><b>Ricavi</b></a>
    <a href="\assegnarisorseerogate"> <b>Erogato risorse</b></a>
    <a href="\previsionericavi"><b>Previsioni ricavi</b></a>
    <a href="\previsionetask"><b>Previsioni task</b></a>
    <a href="\assegnarisorsepreventivate"><b>Previsione risorse</b></a>
    <a href="\dati"><b>Dati</b></a>
</div>