<div >
<h1>home page user</h1>
<br>
<table class="table table-bordered">
    <thead>
        <th colspan="2">Task</th>
        <th></th>
        <th colspan="2">Gennaio</th>
        <th colspan="2">Febbraio</th>
        <th colspan="2">Marzo</th>
        <th colspan="2">Aprile</th>
        <th colspan="2">Maggio</th>
        <th colspan="2">Giugno</th>
        <th colspan="2">Luglio</th>
        <th colspan="2">Agosto</th>
        <th colspan="2">Settembre</th>
        <th colspan="2">Ottobre</th>
        <th colspan="2">Novembre</th>
        <th colspan="2">Dicembre</th>
    </thead>
    <tbody>
        <tr>
            <td>Extranet aziendale</td>
            <td class="percentuale">20000€</td>
            <td style="width: 50px;"></td>
            <td class="percentuale">-</td>
            <td>-</td>
            <td class="percentuale">-</td>
            <td >-</td>
            <td class="percentuale">-</td>
            <td>-</td>
            <td class="percentuale">-</td>
            <td>-</td>
            <td class="percentuale">-</td>
            <td>-</td>
            <td class="percentuale">10%</td>
            <td>2000€</td>
            <td class="percentuale">-</td>
            <td>-</td>
            <td class="percentuale">-</td>
            <td>-</td>
            <td class="percentuale">50%</td>
            <td>10000€</td>  
            <td class="percentuale">-</td>
            <td>-</td>
            <td class="percentuale">-</td>
            <td>-</td>
            <td class="percentuale">100%</td>
            <td>20000€</td>
        </tr>
    </tbody>
</table>




</div>