div{
    position: relative;
    left: 15%;
    top: 10px;
  }

  th
  {
      color: #2c5978 ;
      text-align: center;    
  }
  thead
  {
      border-color:#e3f0fa;
  }
  .percentuale
  {
      background-color: #e3f0fa;
      border:0px;
  }
  